{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Data Importer{% endblock title %}</title>
</head>
<body>
    <nav>
        <a href="{% url "welcome" %}">Home</a> |
        <a href="{% url "league_list" %}">Leagues</a> |
        <a href="{% url "season_list" %}">NFL Seasons</a> |
        <a href="{% url "nfl_player_list" %}">NFL Players</a> |
    </nav>
    {% block content %}Welcome to the Importer{% endblock content %}
</body>
</html>